html {
    background-image: url("background.jpg");
}

.logo {
    position: absolute;
    opacity: 1;
    width: 230px;
    transition: all 0.5s;
}

.logo_alt {
    position: absolute;
    opacity: 1;
    width: 230px;
}

img:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

td {
    width: 250px;
    height: 160px;
}
