html, body {
    margin: 0px;
    padding: 0px;
    background-color: #F0EEEC;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
}

header {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

header > a {
    display: flex;
    align-items: center;
    justify-items: flex-start;
}

header > a > img {
    height: 30px;
    margin-right: 8px;
}

header > a > h3 {
    color: #333;
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em;
    opacity: .5;
    font-size: 16px;
}

.members {
    justify-self: center;
    width: 600px;
    max-width: 100vw;
    margin-top: 24px;
}

.member {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 16px;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    transition: background-color .1s linear;
}

.member:hover {
    background-color: rgba(214,212,211,.5);
}

.member:hover .member__avatar {
    filter: saturate(1);
    opacity: 1;
}

.member__avatar {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    opacity: .5;
    filter: saturate(.2);
    transition: all .1s linear;
}

.member__contact > a > * {
    width: 24px;
    height: 24px;
    font-size: 24px;
    filter: saturate(0);
    color: #2f80ed;
    transition: filter .1s linear;
}

.member__contact > a:hover > * {
    filter: saturate(1);
}

.member__contact > a:not(:last-child) {
    margin-right: 8px;
}